##########################################################
##
## This file contains rules for file pattern matches
## which git will ignore.
##
##	see: man git-ignore
##
##   Author:  Wilber
##
##########################################################

##########################################################
##    Python compile files
##########################################################
*.pyc

##########################################################
##    pydev Files
##########################################################
*.project
*.pydevproject

##########################################################
##    db Files
##########################################################
*.db
**/db/

##########################################################
##    upload Files
##########################################################
uploads/

##########################################################
##    gulp related Files
##########################################################
app/build/
app/src/static/vendor/

##########################################################
##    node modules
##########################################################
node_modules/

##########################################################
##    bower components
##########################################################
bower_components/


##########################################################
##    test coverage file from karma-coverage
##########################################################
TestFiles/

