##########################################################
##
## This file contains rules for file pattern matches
## which git will ignore.
##
##	see: man git-ignore
##
##   Author:  Wilber
##
##########################################################

##########################################################
##    Python compile files
##########################################################
*.pyc

##########################################################
##    pydev Files
##########################################################
*.project
*.pydevproject

##########################################################
##    db Files
##########################################################
*.db
**/db/

##########################################################
##    upload Files
##########################################################
**/uploads/**



