.note-item{
  padding:10px;
  margin:10px;
  word-break: break-all;
}

.note-editor{
  width: 100%;
}

.color-picker-item{
	width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.color-picker-name {
  display: inline-block;
  padding-left: 10px;
}

