

#sidebar-wrapper {
    z-index: 8;
    position: fixed;
    left: 60px;
    width: 0;
    height: 100%;
    margin-left: -60px;
    overflow-y: auto;
    background: #6C6D6E;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#page-content-wrapper {
    position: absolute;
    margin-right: -60px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    padding: 10px;
}

.sidebar-nav li a:hover {
    background: rgba(255,255,255,0.2);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 60px;
    }

    #page-content-wrapper {
        position: relative;
    }

}


/*
task list page
*/
#toolbar{
	padding:5px;
	background-color:#eee;
}

textarea {
    resize: vertical;
}

#task-container, #attachment-container{
    padding:10px;
}

.task-list-item{
    border: 1px solid #D0CCCC;
    padding: 10px;
    margin:2px;
}

.task-complete{
    border-left: 5px solid #5cb85c;
}

.task-incomplete{
    border-left: 5px solid red;
}

.label-info{
    margin-right:2px;
}

.dimension-header{
    border-bottom: 6px solid #eee;
    margin-bottom: 15px;
    padding:5px;
    font-weight: bold;
    font-size: large;
}

.page-header{
    padding:10px;
}

.label{
    display: inline-block;
}

.dimension-mark{
    display: inline-block;
    font-weight: bold;
    width:20px;
    height: 20px;
    color: #fff;
    background-color: #F1A257;
    text-align: center;
    border-radius: .25em;
    white-space: nowrap;
}

.strike {
    position: relative;
    display: inline-block;
}

.strike::before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 40%;
}

.strike::before {
    border: 2px solid #A94442;
    -webkit-transform: skewY(30deg);
    transform: skewY(30deg);
}

.category-info, .tag-info{
    margin: 50px;
}

.note-item{
    background-color: #BFEAC7;
    padding:10px;
    margin:10px;
    word-break: break-all;
}

.note-editor{
    width: 100%;
}

#select-file {
    width: 135px;
    height: 35px;
    background: url(../../app/images/select-file.png);
    margin-bottom: 10px;
}

#select-file input {
    width: 135px !important;
    height: 35px !important;
    opacity: 0 !important;
}
#select-file input:hover { cursor: pointer;}

#task-description, .description-preview{
    padding:10px;
    border-left: 3px solid #bbb;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: medium;
    background-color:#f8f8f8;
}

.CodeMirror-preview-fullscreen{
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 50% !important;
    height: auto !important;
    overflow: scroll !important;
    z-index:10;
    background: white;
    padding:10px;   
}