<!DOCTYPE html>
<html lang="en-US" ng-app="remember">
    <head>
        <meta charset="UTF-8"/>
        <title>Remember</title>
        <link rel="stylesheet" href="app/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/css/main.css">
        <link rel="stylesheet" href="app/css/xeditable.css">
        <link rel="stylesheet" href="app/css/codemirror.min.css" rel="stylesheet">
        <link rel="stylesheet" href="app/css/twilight.min.css" rel="stylesheet">
        <link rel="stylesheet" href="app/css/fullscreen.css" rel="stylesheet">
        <link rel="icon" href="app/images/favicon.ico">

    </head>
    <body>
    	<div id="wrapper">
	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li>
	                    <a href="#/"><img src="app/images/remember.png" alt="remember" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/notes"><img src="app/images/notes.png" alt="notes" height="40" width="40"/></a>
	                </li>
	                <li>
	                    <a href="#/category-info"><img src="app/images/categories.png" alt="categories" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/tag-info"><img src="app/images/tags.png" alt="tags" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/attachments"><img src="app/images/attachments.png" alt="attachments" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href=""><img src="app/images/summary.png" alt="summary" height="40" width="40"/></a>
	                </li>
	            </ul>
	        </div>
	
	        <!-- Page Content -->
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
			        <div ng-view/>
	            </div>
	        </div>
    	</div>
    	
    	<script src="app/lib/angular.min.js"></script>
        <script src="app/lib/angular-resource.min.js"></script>
        <script src="app/lib/angular-route.min.js"></script>
        <script src="app/lib/jquery.min.js"></script>
        <script src="app/lib/bootstrap.min.js"></script>
        <script src="app/lib/showdown.min.js"></script>
        <script src="app/lib/xeditable.js"></script>
        <script src="app/lib/ui-bootstrap-tpls.min.js"></script>
        <script src="app/lib/underscore.min.js"></script>
        
        <script src="app/lib/codemirror.min.js"></script>
        <script src="app/lib/markdown.min.js"></script>
        <script src="app/lib/sublime.min.js"></script>
        <script src="app/lib/fullscreen.js"></script>
        <script src="app/lib/ui-codemirror.min.js"></script>
        
        <!-- app scripts -->
        <script src="app/scripts/app-module.js"></script>
        <script src="app/scripts/app-config.js"></script>
        <script src="app/scripts/constants.js"></script>
        
        <!-- task scripts -->
        <script src="app/scripts/task/task-module.js"></script>
        <script src="app/scripts/task/controllers/task-list-controller.js"></script>
        <script src="app/scripts/task/controllers/task-create-controller.js"></script>
        <script src="app/scripts/task/controllers/task-edit-controller.js"></script>
        <script src="app/scripts/task/controllers/task-view-controller.js"></script>
        
        <script src="app/scripts/task/services/task-data-service.js"></script>
        <script src="app/scripts/task/services/task-loader-service.js"></script>
        <script src="app/scripts/task/services/task-list-loader-service.js"></script>
        
        <script src="app/scripts/task/filters/task-tag-filter.js"></script>
        <script src="app/scripts/task/filters/task-category-filter.js"></script>
        <script src="app/scripts/task/filters/task-status-filter.js"></script>
        
        <!-- category scripts -->
        <script src="app/scripts/category/category-module.js"></script>
        <script src="app/scripts/category/category-info-controller.js"></script>
        
        <script src="app/scripts/category/category-data-service.js"></script>
        <script src="app/scripts/category/category-list-loader-service.js"></script>
        
        <!-- tag scripts -->
        <script src="app/scripts/tag/tag-module.js"></script>
        <script src="app/scripts/tag/tag-info-controller.js"></script>

	 	<script src="app/scripts/tag/tag-data-service.js"></script>
        <script src="app/scripts/tag/tag-list-loader-service.js"></script>
        
        <!-- note scripts -->
        <script src="app/scripts/note/note-module.js"></script>
        <script src="app/scripts/note/note-info-controller.js"></script>

	 	<script src="app/scripts/note/note-data-service.js"></script>
        <script src="app/scripts/note/note-list-loader-service.js"></script>

		<!-- attachment scripts -->
		<script src="app/scripts/attachment/attachment-module.js"></script>
		<script src="app/scripts/attachment/attachment-controller.js"></script>
        <script src="app/scripts/attachment/attachment-edit-modal-controller.js"></script>
        
        <script src="app/scripts/attachment/services/attachment-data-service.js"></script>
        <script src="app/scripts/attachment/services/attachment-list-loader-service.js"></script>
        <script src="app/scripts/attachment/services/attachment-uploader-service.js"></script>
        
        <script src="app/scripts/attachment/filters/attachment-tag-filter.js"></script>
        <script src="app/scripts/attachment/filters/attachment-name-filter.js"></script>
        <script src="app/scripts/attachment/filters/attachment-type-filter.js"></script>

		<!-- common scripts -->
        <script src="app/scripts/common/common-module.js"></script>
        <script src="app/scripts/common/services/confirm-modal-service.js"></script>
        <script src="app/scripts/common/directives/directives.js"></script>
    </body>
</html>

