<!DOCTYPE html>
<html ng-app="remember">
    <head>
        <title>Remember</title>
        <link rel="stylesheet" href="app/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/css/main.css">
        <link rel="stylesheet" href="app/css/xeditable.css">
        <link rel="icon" href="app/images/favicon.ico">

    </head>
    <body>
    	<div id="wrapper">
	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li>
	                    <a href="#/"><img src="app/images/remember.png" alt="remember" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/notes"><img src="app/images/notes.png" alt="notes" height="40" width="40"/></a>
	                </li>
	                <li>
	                    <a href="#/category-info"><img src="app/images/categories.png" alt="categories" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/tag-info"><img src="app/images/tags.png" alt="tags" height="40" width="40"/></a>
	                </li>
                    <li>
	                    <a href="#/attachments"><img src="app/images/attachments.png" alt="attachments" height="40" width="40"/></a>
	                </li>
	            </ul>
	        </div>
	
	        <!-- Page Content -->
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
			        <div ng-view/>
	            </div>
	        </div>
    	</div>
    	
    	<script src="app/lib/angular.min.js"></script>
        <script src="app/lib/angular-resource.min.js"></script>
        <script src="app/lib/angular-route.min.js"></script>
        <script src="app/lib/jquery.min.js"></script>
        <script src="app/lib/bootstrap.min.js"></script>
        <script src="app/lib/showdown.min.js"></script>
        <script src="app/lib/xeditable.js"></script>
        
        <script src="app/scripts/app.js"></script>
        <script src="app/scripts/controllers/taskControllers.js"></script>
        <script src="app/scripts/services/taskServices.js"></script>
        <script src="app/scripts/controllers/categoryControllers.js"></script>
        <script src="app/scripts/controllers/tagControllers.js"></script>
        <script src="app/scripts/controllers/noteControllers.js"></script>
        <script src="app/scripts/controllers/attachmentControllers.js"></script>
        <script src="app/scripts/services/categoryServices.js"></script>
        <script src="app/scripts/services/tagServices.js"></script>
        <script src="app/scripts/services/noteServices.js"></script>
        <script src="app/scripts/services/attachmentServices.js"></script>
        <script src="app/scripts/directives/directives.js"></script>
    </body>
</html>

