<div class="col-xs-6 tag-info">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
                Tag Info
        </div>
        <!-- Table -->
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody ng-repeat="tag in tags">
                <tr>
                    <td>
                        <span editable-text="tag.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, tag.id)" e-required>
                            {{ tag.name || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <form editable-form name="rowform" onbeforesave="tagOperations.updateTag($index)" oncancel="tagOperations.removeUnusedRow($index, tag)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == tag">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Update
                          </button>
                          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            Cancel
                          </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                          <button class="btn btn-info btn-xs" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span></button>
                          <button class="btn btn-danger btn-xs" ng-click="tagOperations.deleteTag(tag.id, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="tagOperations.createTag()">Create</button>
        </div>
    </div>
    
    

</div>



